/* ------ Computer ------ */

/* --- Header --- */

@media screen and (min-width: 993px) {

    .disappear {display: none;}
    
    .appear {display: flex;}

}

/* --- Main --- */

@media screen and (min-width: 993px) {

    /* Promotion */
    
    #promotion {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #promotion > div {
        width: 30%;
        margin: 0;
    }

    #promotion #app {
        width: 65%;
        display: flex;
        justify-content: flex-start;
    }

    #app div {
        width: 50%;
    }

    #image {
        align-self: flex-end;
        width: 50%;
    }

    /* Planning */

    #planning {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #planning > div {
        width: 45%;
    }

    #app_development {
        justify-content: end;
        margin-top: 100px;
    }

    #app_development img {
        width: 70%;
    }

}