/* ------ Background ------ */

.bg-blue {background-color: #0084fd;}

.bg-light-blue {background-color: #b5ddff;}

.bg-purple {background-color: #9792e4;}

/* ------ Border ------ */

.br-30px {
    border-radius: 30px;
}

.br-50per {
    border-radius: 50%;
}

/* ------ Fonts ------ */

/* Color */

.c-blue {color: #0084fd;}

.c-gray {color: #5a6e7f;}

.c-purple {color: #9792e4;}

/* Size */

.fs-24px {font-size: 24px;}

.fs-100px {font-size: 100px;}

/* ------ Main ------ */

/* Planning */

#cit {
    font-style: italic;
    color: #111111;
}

/* Testimonials */

.clip {clip-path: circle(38%);}

#testimonials {padding-bottom: 4rem;}